<section>
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card-header pb-2">
        <h4 class="card-title">Voucher list</h4>
        <h4 *ngIf="recipient!=null" class="card-title">Hi {{recipient.name}}!</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <form>
            <div *ngIf="!(validVoucherCodeList==null && expiredVoucherCodeList==null && redeemedVoucherCodeList==null)" class="table-responsive">
              <table class="table table-striped" border="1px solid black">
                <caption>Active vouchers</caption>
                <thead>
                <tr>
                  <th scope="col" class="primary lighten-2">No</th>
                  <th scope="col" class="primary lighten-2">Special offer</th>
                  <th scope="col" class="primary lighten-2">Code</th>
                  <th scope="col" class="primary lighten-2">Expiration date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let voucherCode of validVoucherCodeList;let row = index" style="cursor: pointer;">
                  <td>{{row+1}}</td>
                  <td scope="row">{{voucherCode.specialOffer.name}}</td>
                  <td>{{voucherCode.code}}</td>
                  <td>{{voucherCode.expirationDate | date:'longDate'}}</td>
                </tr>
                </tbody>
              </table>

              <table class="table table-striped" border="1px solid black">
                <caption>Redeemed</caption>
                <thead>
                <tr>
                  <th scope="col" class="primary lighten-2">No</th>
                  <th scope="col" class="primary lighten-2">Special offer</th>
                  <th scope="col" class="primary lighten-2">Discount</th>
                  <th scope="col" class="primary lighten-2">Code</th>
                  <th scope="col" class="primary lighten-2">Redeemed</th>
                  <th scope="col" class="primary lighten-2">Redeemed date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let voucherCode of redeemedVoucherCodeList;let row = index" style="cursor: pointer;">
                  <td>{{row+1}}</td>
                  <td scope="row">{{voucherCode.specialOffer.name}}</td>
                  <td>{{voucherCode.specialOffer.discountPercentage}}%</td>
                  <td>{{voucherCode.code}}</td>
                  <td> {{true == voucherCode.redeemed ? 'Yes' : 'No' }}</td>
                  <td>{{voucherCode.usedDate| date:'longDate'}}</td>
                </tr>
                </tbody>
              </table>

              <table class="table table-striped" border="1px solid black">
                <caption>Expired</caption>
                <thead>
                <tr>
                  <th scope="col" class="primary lighten-2">No</th>
                  <th scope="col" class="primary lighten-2">Special offer</th>
                  <th scope="col" class="primary lighten-2">Discount</th>
                  <th scope="col" class="primary lighten-2">Code</th>
                  <th scope="col" class="primary lighten-2">Expiration date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let voucherCode of expiredVoucherCodeList;let row = index" style="cursor: pointer;">
                  <td>{{row+1}}</td>
                  <td scope="row">{{voucherCode.specialOffer.name}}</td>
                  <td>{{voucherCode.specialOffer.discountPercentage}}%</td>
                  <td>{{voucherCode.code}}</td>
                  <td>{{voucherCode.expirationDate | date:'longDate'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <h4 *ngIf="validVoucherCodeList==null && expiredVoucherCodeList==null && redeemedVoucherCodeList==null" class="card-title">{{errormsg}}</h4>
          </form>
        </div>

      </div>

      <div *ngIf="redeem" class="col-12 mt-4">
        <span style="font-size: 13px">Code</span>
        <input type="text" class="form-control" name="vouchercode" id="vouchercode" placeholder="Please enter voucher code" [(ngModel)]="voucherCode" required>
      </div>

      <div class="col-12 mt-1" *ngIf="voucherCodeSuccessMsg">
        <span class="display-block text-success" style="font-size: 11px">{{voucherCodeSuccessMsg}}</span>
      </div>

      <div class="col-12 mt-1" *ngIf="voucherCodeFailMsg">
        <span class="display-block text-danger" style="font-size: 11px">{{voucherCodeFailMsg}}</span>
      </div>

      <div *ngIf="!(validVoucherCodeList==null && expiredVoucherCodeList==null && redeemedVoucherCodeList==null) && !redeem" class="col-6 mt-5">
        <button class="btn btn-primary lighten-2 mb-0" style="margin-left: 1px;" type="button" (click)="useVoucherCode()">
          <a class="text-decoration-none text-white"><i class="fa fa-search"></i>Redeem</a></button>
      </div>

      <div *ngIf="redeem" class="col-6 mt-5">
        <button class="btn btn-primary lighten-2 mb-0" style="margin-left: 1px;" type="button" (click)="submitVoucherCode()">
          <a class="text-decoration-none text-white"><i class="fa fa-search"></i>Submit</a></button>
      </div>

      <div *ngIf="email=='admin'" class="col-6 mt-5">
        <button class="btn btn-primary lighten-2 mb-0" style="margin-left: 1px;"  (click)="viewSpecialOfferList()">
          <a class="text-decoration-none text-white"><i class="fa fa-search"></i>View special offers</a></button>
      </div>

      <div class="col-6 mt-5">
        <button class="btn btn-primary lighten-2 mb-0" style="margin-left: 1px;"  (click)="logout()">
          <a class="text-decoration-none text-white"><i class="fa fa-search"></i>Log out</a></button>
      </div>

    </div>
  </div>
</section>
